.aboutart-wrap {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.aboutart-wrap h1 {
  width: 100%;
  text-align: center;
}

.aboutart-wrap img {
  float: left;
  margin-right: 2rem;
  margin-bottom: 1rem;

  width: 35%;
  height: auto;
  min-width: 275px;
}

@media screen and (max-width: 640px) {
  .aboutart-wrap {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aboutart-wrap img {
    float: initial;
    margin-right: 0;
  }
}
